<h2>See all hairstyles</h2>

<div class="row justify-content-around p-3">
  <% @hairstyles.each do |hairstyle| %>
    <div class="card m-3">
      <div><!-- <img src="https://i.pinimg.com/564x/9d/e3/a1/9de3a11b805b69605de8797bfeeb31ff.jpg?b=t" style='height: 100%; width: 100%; object-fit: contain'> -->
      <%= cl_image_tag hairstyle.photo, width: 300, height: 200, crop: :fill %>
      </div>



      <div class="card-body">
        <h5 class="card-title"><%= link_to hairstyle.name, hairstyle_path(hairstyle) %></h5>
        <p class="card-title"><%= hairstyle.description%></p>

      </div>
    </div>
  <% end %>
</div>

