
<div class="home-layout">
  <div class="home-title text-center">
    <h1 class="header">HAIR DO<h1>

     <p class= 'afro-comb'><%= image_tag "https://res.cloudinary.com/dnsof9xnr/image/upload/v1556237001/noun_Afro_415376.png"%><p>
  </div>
  <div id="home-title2" class="text-center">
    <p><%= link_to "Find Inspiration", hairstyles_path, class: 'button' %></p>
  </div>
</div>
