
<div class="home-layout">
  <div class="home-title text-center">
    <h1>HAIR<h1>
    <h2>DO</h2>
     <p class= 'afro-comb'><%= image_tag "https://res.cloudinary.com/dnsof9xnr/image/upload/v1555616874/afro-pick.png"%><p>
  </div>
  <div id="home-title2" class="text-center">
    <p><%= link_to "Find Inspiration", hairstyles_path, class: 'button' %></p>
  </div>
</div>
