
<div class="home-layout">
  <div id="home-title" class="text-center">
    <h1> HAIR DO </h1>
  </div>
  <div id="home-title2" class="text-center">
    <p><%= link_to "Find Inspiration", hairstyles_path%></p>
  </div>
</div>
