.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  background-image:url ('https://cdn.dribbble.com/users/730437/screenshots/5356227/logo_6s-01.png');
  //height: 50px;
  box-shadow: 0 10px 0 rgba(0,0,0,0.1);
  position: relative;
  border-radius: 50px;
  //width: 50px;
}
