// Place all the styles related to the hairstyles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
  box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
    padding: 16px 16px 16px 16px;
    background-size: cover;
    background-position: center;
    /* width: 300px; */
}
