// Place all the styles related to the hairstyles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
  box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
  // padding: 16px 16px 16px 16px;
  background-size: cover;
  background-position: center;
  /* width: 300px; */
  border-radius:  15px !important;
}
.card2 {
    //background-color: gray;
    border-radius: 15px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
    margin: -74px 0 0 0;
}

.card-body {
  display:flex;
  flex-direction: column;
  text-align:center;
  //position: absolute;
  top: 115px;
  left: 10%;
  color: darksalmon;
  font-weight: bold;
}

 .card-body-inner1 {
    background-color: white;
    opacity: 0.8;
    height:55px;
 }

 .card-body-inner2 {
   justify-content: space-around;
   margin: 40px 0 20px 0;

 }

.flex-box-search {
  display:flex;
  margin-top: 20px;
}

.filters-container {
  margin-top: 20px;
  text-align: right;
}

.card-title {
    background-color: white;
    margin-bottom: 0.75rem;
    opacity: 0.8;
   /*  filter: blur(8px);
      -webkit-filter: blur(8px); */

  a {
  /* color: black !important; */
}

}

a {
    color: black !important;
    font-weight: bolder;
}


.fa-plus-circle {
  position: absolute;
  /* margin: 0 0 0 0; */
  right: 4px;
  bottom: 103px;
  font-size: 33px;
}

#index-title {
text-align:center;
text-shadow: 0 5px 0 grey;
font-size: 80px;
letter-spacing: 10px;

}

.card-image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/*  div.transbox {
 //margin: 30px;
 background-color: #ffffff;
 //border: 1px solid black;
 opacity: 0.6;
 filter: alpha(opacity=60); //For IE8 and earlier;

}
*/
