// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-layout {
  background-image: url("");
  width:100%;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}

.navbar-lewagon {
  display:none;
}

.home-title h1 {
  font-size: 200px;
  text-shadow: 0 6px 0 pink;
 }

 .home-title h2 {
    font-size: 200px;
    text-shadow: 0 6px 0 pink;
  }

.afro-comb img {
  height:100px;
}

.text-center {
  text-align: center;
}

.button {
    padding: 10px 15px;
    box-shadow: 0 10px 0 rgba(0,0,0,0.1);
    position: relative;
    background-color:pink;
    color:white;
    border-radius: 10px;
}

@media only screen and (min-width: 200px) {
  .home-title h1 {
    font-size: 150px;
  }
}


@media only screen and (min-width: 200px) {
  .home-title h2 {
    font-size: 150px;
  }
}

@media only screen and (min-width: 1200px) {
 .flex-box-search {
    display: flex;
    flex-direction: row;
    border: none;
    padding: 10px 5px;
    width: 80%;
    background-color: white;
    box-shadow: 0 15px 0 rgba(0,0,0,0.1);
 /*    position: relative; */
    top: 221px;
    width: 353px;
  }
}

@media only screen and (min-width: 992px) {
  .flex-box-search {
    width: 250px;
  }
}

@media only screen and (min-width: 768px) {
  .flex-box-search {
    width: 200px;
  }
}


@media only screen and (min-width: 576pxpx) {
  .flex-box-search {
    width: 150px;
  }
}

